<!DOCTYPE html>
<head>
    <title>Frameworks por linguagem</title>
    <meta charset="utf-8">
</head>
<body>
{% if plot %}
<img src="{{plot}}" alt="Gráfico de setores">
{# pass alt text as a parameter? #}
{% endif %}
</body>
</html>