<!DOCTYPE html>
<html lang="en">
<head>
    <title>Titulo da pagina inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>

    <ul class="flex-container">
    
        <li class="flex-item">
            <div id="titulo">
                <h4>Tecnologias participantes</h4>
            </div>
            <div id="descricao">
                <p>Caso esteja curioso quanto a alguma tecnologia desconhecida usada em outras consultas, pode conhecê-la aqui.</p>
            </div>
            <button class="botao" onclick="redireciona('dropdown-tecnologia')"><span>Visualizar</span></button>
        </li>
        <li class="flex-item">
            <div id="titulo">
                <h4>Porcentagem de uso de tecnologia por agrupamento</h4>
            </div>
            <div id="descricao">
                <p>Mostra a porcentagem de pessoas que usa uma tecnologia de acordo com alguma característica como tamanho da empresa, país ou faixa etária das pessoas pesquisadas.</p>
            </div>
            <button class="botao" onclick="redireciona('dropdown-porcentagem')"><span>Visualizar</span></button>
        </li>
        <li class="flex-item">
            <div id="titulo">
                <h4>Aqui vai o nome da consulta</h4>
            </div>
            <div id="descricao">
                <p>Aqui pode ir uma breve explicação</p>
            </div>
            <button class="botao" onclick="redireciona(' ')"><span>Visualizar</span></button>
        </li>
        <li class="flex-item">
            <div id="titulo">
                <h4>Aqui vai o nome da consulta</h4>
            </div>
            <div id="descricao">
                <p>Aqui pode ir uma breve explicação</p>
            </div>
            <button class="botao" onclick="redireciona(' ')"><span>Visualizar</span></button>
        </li>
        <li class="flex-item">
            <div id="titulo">
                <h4>Aqui vai o nome da consulta</h4>
            </div>
            <div id="descricao">
                <p>Aqui pode ir uma breve explicação</p>
            </div>
            <button class="botao" onclick="redireciona(' ')"><span>Visualizar</span></button>
        </li>
        <li class="flex-item">
            <div id="titulo">
                <h4>Aqui vai o nome da consulta</h4>
            </div>
            <div id="descricao">
                <p>Aqui pode ir uma breve explicação</p>
            </div>
            <button class="botao" onclick="redireciona(' ')"><span>Visualizar</span></button>
        </li>
        <li class="flex-item">
            <div id="titulo">
                <h4>Aqui vai o nome da consulta</h4>
            </div>
            <div id="descricao">
                <p>Aqui pode ir uma breve explicação</p>
            </div>
            <button class="botao" onclick="redireciona(' ')"><span>Visualizar</span></button>
        </li>
        <li class="flex-item">
            <div id="titulo">
                <h4>Aqui vai o nome da consulta</h4>
            </div>
            <div id="descricao">
                <p>Aqui pode ir uma breve explicação</p>
            </div>
            <button class="botao" onclick="redireciona(' ')"><span>Visualizar</span></button>
        </li>
        <li class="flex-item">
            <div id="titulo">
                <h4>Aqui vai o nome da consulta</h4>
            </div>
            <div id="descricao">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <button class="botao" onclick="redireciona(' ')"><span>Visualizar</span></button>
        </li>

    </ul>

</body>

<script>
    function redireciona(value){
        console.log(value);
        window.location.assign("http://localhost:5000/"+ value)
    }
</script>

</html>