<!DOCTYPE html>
<html lang="en">
<head>
    <title>Consulta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/resultado-tecnologia.css') }}">
</head>
<body>
    <div class="flex-container">
        {% for rows in result %}  

        <img class="sub-flex-item" id="imagem" src="../static/logos/{{rows['Logo']}}">

        <div class="sub-flex-item" id="dados">
            <ul class="lista-dados">
                <h3>Nome: {{rows['Nome']}}</h3>
                <li><h5>Ano de criação: {{rows['AnoCriacao']}}</h5></li>
                <li><h5>Tipo de tecnologia: {{rows['Tipo']}}</h5></li>
            </ul>
        </div>

        {% endfor %}
    </div>
</body>
</html>