{# Comparação entre um gráfico global e um "filtrado" #}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comparação</title>
</head>
<body>
    <h3>Resultado global</h3>
    <img src="{{plot}}" {% if alt_text %}alt="{{ alt_text }}"{% endif %}>

    <h3>Resultado para atributo: {{value_name}}</h3>
    </form>

</body>
</html>