{# Comparação entre um gráfico global e um "filtrado" #}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Comparação</title>
</head>
<body>
    <h3>Resultado global</h3>
    <img src="{{gen_plot}}">

    <h3>Resultado para {{attr_name}}: {{value_name}}</h3>
    </form>

</body>
</html>