<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tecnologia</title>
    <script type="text/javascript" src="{{url_for('static', filename='script/tecnologia.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/tecnologia.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/template-dropdowns.css') }}">
</head>
<body>

    <div class="flex-container">
        <div class="flex-item" id="titulo">
            <h3>Escolha a tecnologia que quer conhecer</h3>
        </div>

        <div class="flex-item" id="radio-box">
            <label class="radio-container">SGBD
                <input onclick="mudaTipo(value)" type="radio" id="radio" name="tipo-tecnologia" value="Sgbd">
                <span class="checkmark"></span>
            </label>
            <label class="radio-container">Linguagem
                <input onclick="mudaTipo(value)" type="radio" id="radio" name="tipo-tecnologia" value="Linguagem">
                <span class="checkmark"></span>
            </label>
            <label class="radio-container">Outra tecnologia
                <input onclick="mudaTipo(value)" type="radio" id="radio" name="tipo-tecnologia" value="OutraTecnologia">
                <span class="checkmark"></span>
            </label>
        </div>

        <div class="flex-item" id="dropdowns">
            <select id="Linguagem" class="dropdown" onchange="display(value, 'Linguagem')" >
                {% for rows in linguagens %}
                    <option value="{{rows['Id']}}">{{rows['Nome']}}</option>
                {% endfor %}
            </select>
            <select id="Sgbd" class="dropdown" onchange="display(value, 'Sgbd')">
                {% for rows in Sgbds %}
                    <option value="{{rows['Id']}}">{{rows['Nome']}}</option>
                {% endfor %}
            </select>
            <select id="OutraTecnologia" class="dropdown" onchange="display(value, 'OutraTecnologia')">
                {% for rows in tecnos %}
                    <option value="{{rows['Id']}}">{{rows['Nome']}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

</body>
</html>