@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.dropdown{
    font-family: 'Lato', sans-serif;
    border: #2196F3 solid 1px;
    border-radius: 5px;
    padding: .6em 1.4em .5em .8em;
    width: 30%;
}

.botao{
    font-family: 'Lato', sans-serif;
    border: #2196F3 solid 1px;
    background-color: white;
    border-radius: 5px;
    padding: .6em 1.4em .5em .8em;
    width: 30%;
}

.botao:hover{
    background-color: #2196F3;
    color: white;
    cursor: pointer;
}