@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.flex-container{
    display:flex;
    align-self: center;
    width: 75vw;
    margin-top: 10vw;
    margin-left: 10vw;
    height: 50vh;
    border: #2196F3 solid 1px;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    align-content: flex-start;
    flex-flow: column wrap;
    text-align: center;
}

.flex-item{
    width: 100%;
}

#infos{
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    height: 82%;
    justify-content: space-around;
}

#titulo{
    background-color: #2196F3;
    border-radius: 20px 20px 0 0;
    color: white;
}

img{
    width:30%;
    height:50%;
    object-fit: contain;
}

#dados{
    margin-right: 10%;
}